<%- include('../partials/pages/headerAdmin') %>

    <!-- Profile Start-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container-xl px-4 mt-4">

        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <p><a class="nav-link" href="admin">Admin</a></p>
            <p><a class="nav-link" href="admin-users">Users</a></p>
            <p><a class="nav-link" href="admin-audit-trail">Audit Trail</a></p>
        </nav>
        <hr class="mt-0 mb-4">
        <div class="card mb-4">
            <div class="card-header">User Details</div>
            <div class="card-body">
                <form action="/update-user-info" method="post">
                    <!-- Form Row-->
                    <div class="col-md-6 mx-auto">
                        <div style="display: none; align-items: center;" id="search-input">
                            <input type="text" placeholder="Search User" id="inputUser" class="form-control" value=""
                                style="flex:1;" oninput="searchUser(this.value)">
                            <i class="fa fa-close" style="padding-left:10px" id="x-button"></i>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="adminId">User ID</label>
                            <input class="form-control" id="adminId" name="userID" type="text" placeholder="User ID"
                                value="" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="dateCreated">Date Created</label>
                            <input class="form-control" id="dateCreated" name="dateCreated" type="text"
                                placeholder="Date Created" value="" readonly>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (First Name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="firstName">First Name</label>
                            <input class="form-control" id="firstName" name='firstName' type="text"
                                placeholder="First Name" value="">
                        </div>
                        <!-- Form Group (Last Name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="lastName">Last Name</label>
                            <input class="form-control" id="lastName" name="lastName" type="text"
                                placeholder="Last Name" value="">
                        </div>
                    </div>
                    <!-- Form Row        -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (Email Address)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="emailAddress">Email Address</label>
                            <input class="form-control text-left" id="emailAddress" name="emailAddress" type="text"
                                placeholder="Email Address" value="">
                        </div>
                        <!-- Form Group (Phone Number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="phoneNumber">Phone Number</label>
                            <input class="form-control" id="phoneNumber" name="phoneNumber" type="text"
                                placeholder="Phone Number" value="">
                        </div>
                    </div>
                    <!-- Save changes button-->
                    <div class="row mx-auto user-button">
                        <div class="col-md-4">
                            <button class="btn btn-outline-danger" name="button" value="delete" type="submit">Delete
                                User</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" name="button" value="update" type="submit">Update
                                User</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn" name="button" value="update" type="button" id="search-btn"
                                style="background-color: #091E3E; color:white;">Search
                                User</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
        <div class="container mt-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Account Date Created</th>
                    </tr>
                </thead>
                <tbody id="adminTable">
                    <% adminUsers.forEach(admin=> { %>
                        <tr class="table-row" data-admin-id="<%= admin.ID %>">
                            <td>
                                <%= admin.ID %>
                            </td>
                            <td>
                                <%= admin.firstName %>
                            </td>
                            <td>
                                <%= admin.lastName %>
                            </td>
                            <td>
                                <%= admin.email %>
                            </td>
                            <td>
                                <%= admin.phoneNumber %>
                            </td>
                            <td>
                                <%= admin.accountDateCreated %>
                            </td>
                        </tr>
                        <% }); %>

                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>


        const searchBtn = document.querySelector('#search-btn')
        const searchInput = document.querySelector('#search-input');
        let inputUser = document.querySelector('#inputUser').value;

        searchBtn.addEventListener('click', () => {
            searchInput.style.display = 'flex';

            const xButton = document.querySelector('#x-button')
            xButton.addEventListener('click', () => {
                searchInput.style.display = 'none';
            })
        })

        const searchUser = async (input) => {

            try {
                let response = await fetch('/admin-users', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: JSON.stringify({ input }),
                });


                let responseData = await response.json()
                return updateAdminTable(responseData)



            } catch (error) {
                console.error('Error:', error);
            }
        };

        const insertData = (event) => {

            let ID = document.querySelector("#adminId")
            let firstName = document.querySelector("#firstName")
            let lastName = document.querySelector("#lastName")
            let email = document.querySelector("#emailAddress")
            let phoneNumber = document.querySelector("#phoneNumber")

            const element = event.target.parentElement.children;


            ID.value = element[0].lastChild.nodeValue;
            firstName.value = element[1].lastChild.nodeValue;
            lastName.value = element[2].lastChild.nodeValue;
            email.value = element[3].lastChild.nodeValue;
            phoneNumber.value = element[4].lastChild.nodeValue;


        }


        function updateAdminTable(adminUsers) {
            const adminTable = document.getElementById('adminTable');
            const rowUsers = document.getElementById('row-users');
            adminTable.innerHTML = '';

            adminUsers.forEach(admin => {


                const row = document.createElement('tr');
                row.setAttribute('class', 'table-row');
                row.setAttribute('data-admin-id', admin.ID);
                row.setAttribute('onclick', 'insertData(event)')

                row.innerHTML = `
                <td>${admin.ID}</td>
                <td>${admin.firstName}</td>
                <td>${admin.lastName}</td>
                <td>${admin.email}</td>
                <td>${admin.phoneNumber}</td>
            `;

                adminTable.appendChild(row);
            });
        }

    </script>



    <%- include('../partials/pages/footerLogin') %>