<%- include('../partials/pages/headerAdmin') %>

    <!-- Profile Start-->
    
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <p><a class="nav-link" href="admin">Admin</a></p>
            <p><a class="nav-link" href="admin-users">Users</a></p>
            <p><a class="nav-link" href="admin-audit-trail">Audit Trail</a></p>
            <p><a class="nav-link" href="admin-archived-users">Archived Users</a></p>
        </nav>
        <hr class="mt-0 mb-4">

        <div class="container mt-5">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Login</th>
                        <th>Logout</th>
                    </tr>
                </thead>
                <tbody>
                    <% adminUsers.forEach(admin=> { %>
                        <tr class="table-row" data-admin-id="<%= admin.ID %>">
                            <td>
                                <%= admin.ID %>
                            </td>
                            <td>
                                <%= admin.firstName %>
                            </td>
                            <td>
                                <%= admin.lastName %>
                            </td>
                            <td>
                                <%= admin.email %>
                            </td>
                            <td>
                                <%= admin.login %>
                            </td>
                            <td>
                                <%= admin.logout %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
        
    </div>
    <div style="position: absolute; bottom: 0; width:100%;">
    </div>

    <%- include('../partials/pages/footerLogin') %>

